<html xmlns:th="http://www.thymeleaf.org">
    <div class="col-md-2" th:fragment="leftmenu">
        <div class="sidebar content-box" style="display: block;">
            <ul class="nav">
                <li><a href="/"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                <li><a href="/nasabah"><i class="glyphicon glyphicon-book"></i> Nasabah</a></li>
                <li><a href="/transaksi"><i class="glyphicon glyphicon-credit-card"></i> Transaksi</a></li>
                <li><a href="/point"><i class="glyphicon glyphicon-plus"></i> Point</a></li>
            </ul>
        </div>
    </div>
</html>